body {
    font-family: 'Times New Roman', serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
    font-size: 2.5em;
}

h1 {
    font-size: 2.50em;
    text-align: center;
}

h2 {
    font-size: 2.00em;
}

p {
    line-height: 1.70;
    font-size: 1.20em;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    font-family: 'Courier New', monospace;
}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
}

blockquote {
    border-left: 3px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

article img {
    max-width: 100%;
    height: auto;
}
