.card-footer {
    text-align: center;
}

/* unvisited link */
a:link {
    color: #818078;
}

/* visited link */
a:visited {
    color: #818078;
}

/* mouse over link */
a:hover {
    color: #818078;
}

.navbar-right {
    text-align: right;
}